:root {
  --bg-color: #f0f0f0;
  --page-color: #ccc5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 0.5em;
  box-shadow: 0 0.5em 0.4em grey;
  height: 20vmin;
  box-sizing: border-box;
}

header img {
  align-self: center;
  max-height: 15vmin;
  border-radius: 0.5em;
}

nav {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 2.25em;
}

nav .menu-button::before {
  content: "{ ";
  color: #5555;
}

nav .menu-button::after {
  content: " }";
  color: #5555;
}

nav .menu-button {
  font-weight: 500;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 1vh;
  font-size: 1em;
  transition: font-size ease-out 100ms;
  align-self: center;
}

nav .menu-button:hover {
  font-size: 1.3em;
}

nav .clicked {
  font-size: 1.3em;
}

nav .clicked::before {
  color: #555;
}

nav .clicked::after {
  color: #555;
}

.stock-page {
  margin: 0 9vw;
  padding: 2vh 1vw;
  min-height: 80vmin;
  box-sizing: border-box;
  background-color: var(--page-color);
}

.stock-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 2fr;
}

.stock-table {
  display: block;
}

.add-type {
  grid-column: -2;
  display: flex;
}

.add-type form {
  display: flex;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 2fr;
}

.stock-row input {
  border: none;
  background-color: #0000;
  border-bottom: #0005 solid thin;
  width: 8.5vw;
  min-height: 4.5vh;
}
